.basket-product{
    padding: 10px;
}

.cart{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
    height: 100%;
    padding: 2px 5px;
}
.cart-left{
    height: 50%;
}
.top{
    text-align: right;
    padding: 10px 20px;
}

.cart-image{
    text-align: right;
}
.cart-image img{
    width: 150px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
.center{
    text-align: right;

}
.details-product{
    padding: 10px 0;
}
.center h6{
    font-size: 13px;
    color: #869791;
}

.box{
    margin-top: 35px;
    width:30%;
    border-radius: 7px;
    border: 1px solid gray;
    text-align: center;
}
.counter-btn{
    border: none;
    height:100%;
    padding:5px 15px;
    background-color:transparent ;
    color: #4caf50;
    font-weight: bold;
}
.number-product{
    text-align: center;
    margin: auto;
}
.delete-btn{
    border: none;
    height:100%;
    padding:5px 15px;
    background-color:transparent ;
    color: #dc3545;
    float: left;
    font-weight: bold;
}
.price{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
    margin:  0;
    text-align: right;
    padding: 10px;
}
.price p{

    border-left: 2px solid red;

}
.bottom{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
    margin: 20px 0;
    text-align: right;
    padding:15px 10px ;

}
.align-center-text{
    text-align: center;
}

.left{
    text-align: right;
    padding:0 10px;
}

.left h6 {
    padding: 10px 0;
}