/*----card---*/
#price{
    color: #28a745;
}
.title-card h5{
    text-align: right;
    margin: 10px 0;
}
.all-card{
    padding: 15px 0 5px 0;
    margin: 10px 0 15px 0;
    border: none;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: All 0.5s;
}
.all-card:hover{
    transform: translateY(-15px);
    box-shadow:1px 5px 20px 0 rgba(0, 0, 0, 0.2);
}
#date-article{
    text-align: right;
    font-size: 11px;
    color:gray;
}

