
/*main header*/


.main-header{
    padding: 35px 10px;
    border-radius: 10px;
}

.mylogo{
    text-align: right;
}
.mylogo h4{
    padding-top: 15px;
    text-align: center;
    color: #424242;
    font-weight: normal;
    font-size: 14px;
}
.mylogo h1{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 26px;
}

.mylogo img{
    float: right;
    padding-left: 10px;}


/*list in main header*/
.left-btn-link ul {
    list-style: none;
    text-align: right;
    padding:10px 0 ;
}

.left-btn-link ul li {
    display: inline-block;

}

.left-btn-link ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px 10px ;
}

.left-btn-link ul li:hover  a {
    background-color: black;
    color: white;
}

/*form in main header*/
.form-header{
    border: 2px solid #4CAF50;
    width: 100%;
    border-radius: 3px;
}

.form-header input{
    border: none;
    outline: none;
    padding: 5px 0;
    width: 87%;
}

.form-header button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #4CAF50;
    font-size: 16px;
}
