.top-header{
    background-color: #f5f5f5;
}

.toparea-right{
    text-align: right;
    padding: 10px 0;
    margin:10px 15px ;
}
.left-top-header{
    color: #424242;
    margin:10px 15px ;
    text-align: left;
}

.social-top-left{
    font-size: 25px;
    margin-right: 10px;
    text-align: center;
    padding-top: 3px ;
    cursor: pointer;
    border-radius: 3px;
    color: #424242;
}

.social-top-left a{
    display: inline-block;
    padding: 0 10px;
    border-radius: 3px;
}

/*---instagram-icon---*/

.instagram-icon a {
    color: #424242;
    text-decoration: none;
}
.instagram-icon:hover {
    background-color: #c13584;
}
.instagram-icon:hover a {
    color: white;
}

/*---telegram-icon---*/

.telegram-icon a{
    color: #424242;
    text-decoration: none;
}

.telegram-icon:hover {
    background-color: #0088cc;
}
.telegram-icon:hover a {
    color: white;
}

