/*Navbar in bottom header*/

.navbar{
    padding: 0 !important;
}
.nav-container{
    background-color: #fafafa;
    margin-top: 15px;
    border-bottom: 2px solid #e7e7e7;
}
.navbar-nav{
    padding: initial;
    padding-left: 10px;
}
.nav-right-link{
    color: black;
    padding: 5px 20px !important;

}
.nav-right-link:hover{
    background:#f1f8e9;
    color:#639443;
    box-shadow: 0 1px 0 #639443;
    text-decoration: none;
}

.nav-left-link{
    float: left;
    margin-left: 10px;
    background:#ffebee;
    color:#f44336;
    box-shadow: 0 1px 0 #f44336;
    padding: 5px 20px !important;
}

.nav-left-link:hover{
    background-color:#f44336;
    color: white ;
}
.navbar ul li {
    position: relative;

}
.navbar ul li ul{
    z-index: 1;
    display: none;
    position: absolute;
    width: 200px;
    top:36px;
    right: 0px;
}
.navbar ul li ul li{
    z-index: 1;
    background: white;
    text-align: right;
}

.navbar ul li:hover > ul{
    z-index: 1;
    display: block;
}

.last-menu{
    margin-right: 190px;
    margin-top: -35px;
}
.nav-menu-link{
    color: black;
}
.nav-menu-link:hover{
    background:#f1f8e9;
    color:#639443;
    text-decoration: none;

}
@media (max-width: 578px) {
    .nav-container{
        display: none;
    }
}