.head-sidebar{
width: 100%;
text-align: right;
background-color: #eeeeee;
margin-bottom: 0 !important;
border-radius: 4px 4px 0 0;
}
.head-sidebar p{
    font-size: 18px;
    padding: 10px ;
    margin-bottom: 0 !important;
}

.main-sidebar img{
    padding: 5px;
}

.main-sidebar {
    text-align: right;
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
    margin-top: 0;
    margin-bottom: 20px;
    padding: 5px 0;
}

.link-side p {
    color: black;
    padding: 10px 6px;
    font-size: 13px;

}
.link-side:hover {
    text-decoration: none;
}

.link-side:hover p {
    color: #0088cc;
}

.main-sidebar button{
    width: 80%;
    margin:5px auto;
}

.list-link ul{
    list-style: circle;
    padding-right: 15px;
}
.list-link ul li{
    display: inline-list-item;
}
.link-list {
    color: black !important;
}
.link-list:hover{
    text-decoration: none;
    color: #0088cc;
}
.last-sidebar{
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}