.top-footer{
    background-color: #f5f5f5;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
}
.top-footer-row p{
    text-align: center;
    padding-top: 10px;
}

.Link-footer{
    display: inline;
    text-align: right;
}
.Link-footer ul{
    list-style: circle;
    padding-right:15px ;
}
.right-footer-col{
    text-align: right;
}
.footer{
    padding: 10px 15px;
}

.form-footer{
    border: 2px solid #4CAF50;
    width: 100%;
    border-radius: 3px;
}

.form-footer input{
    border: none;
    outline: none;
    padding: 5px 0;
    width: 85%;
    text-align: left;
}

.form-footer button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #4CAF50;
    font-size: 16px;
}
.left-footer{
    text-align: right;
    padding: 10px 15px;
}

.store-btn{
    margin-bottom: 20px;
}

.social-footer h5{
    margin: 30px 0;
}
.bottom-text-footer h6{
    text-align: right;
    padding: 30px 20px;
}
.bottom-text-footer img{
    padding-left: 5px;
}