.my-tab{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,.4);
    margin: 35px 25px;
    text-align: right;
}
.tabs{
    border: none;
}
.tabs a{
    border: none !important;
    color: black;
}
.tab {
    padding: 10px 15px;
}
