/*-----Product------*/

.main-product{
    padding: 20px 25px 10px 10px;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
}
.info-product{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
}
.my-product{
    text-align: right;
    padding: 10px;
}
.img-product{
    padding: 15px 0;
    text-align: center;

}
.img-product img{
    border-radius: 5px;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,0.3);
}
.my-box{
    padding-top:20px ;
}
.counter-box{
    text-align: center;
    border: 1px solid #869791;
    border-radius: 5px;
    width: 40px;
    height: 38px;
    line-height: 38px;
    float: right;
}
.btn-box{
    text-align: right;
    padding-right: 50px;
}
.image-left-prod{
    text-align: center;
}
.image-prod{
    width: 100%;
    padding: 0 25px;
}
.image-prod img{
    border-radius: 5px;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,0.2);
    cursor: pointer;
    transition: all 0.3s;
}
.image-prod img:hover{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,0.7);
    border-radius: 8px;
}
