/*----Sign-up-in-----*/
.sign-form{
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 400px;
    margin: 40px auto;
    padding: 5px;
}
.sign-form p {
    font-size: 13px;
    color: #869791;
    text-decoration: none;
}
.input-field{
    text-align: center;
    margin: auto;
    padding: 5px 0;
}

.sign-form h5{
    padding: 20px 0;
}

.input-field input{
    margin: 5px auto;
    padding: 5px;
    width: 60%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.input-field button{
    margin: 10px auto;
    width: 60%;
}

@media (max-width: 576px) {
    .sign-form {
        width: 100%;
    }
}