body{
    font-family: IRANSans;
    direction: rtl;
}
.App{
    padding: 0!important;
    background-color: white;
    box-shadow: 5px 5px 13px -6px rgba(0,0,0,0.75);
}
.main{
    padding: 10px;
}

/*Font*/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../src/assets/font/eot/IRANSansWeb_Bold.eot');
    src: url('../src/assets/font/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/font/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/font/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/font/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/font/eot/IRANSansWeb.eot');
    src: url('../src/assets/font/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../src/assets/font/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../src/assets/font/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../src/assets/font/ttf/IRANSansWeb.ttf') format('truetype');
}
