/*-------Article------*/

.main-product{
    padding: 20px 10px 10px 10px;
    margin: auto;
}
.extra-padding{
    padding: 20px;
}

.info-article{
    padding-bottom: 20px;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,1);

}
.head-article{
    background-color: #eeeeee;
    text-align: right;
    height: 80px;
}
.head-article p {
    padding: 5px 10px;
}
.head-article h5{
    padding: 5px 10px;
    line-height: 10px;
}
.image-article{
    text-align: center;
    padding: 20px 10px;
}
.image-article img{
    text-align: center;
    padding: 20px 10px;
}
.image-article p {
    text-align: right;
    padding: 20px 10px 40px 10px;
}

.article-writer{
    padding: 10px;
    margin: 10px;
    height: auto;
    text-align: right;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,0.2);
}
.article-writer img{
    margin: auto;
}
.article-writer h5{
    font-weight: bold;
    font-size: 16px;
    margin: 5px 10px 0 10px ;
    padding: 0 0 5px 0;
}
.my-article-Address{
    margin: 0 10px;
}
.my-article-Address ul li {
    display: inline-block;
}
.article-Address{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
.article-Address:hover{
    color: #0088cc;
    text-decoration: none;
}

.title-article{
    padding: 15px 10px 5px 10px;
    text-align: right;
    margin: 25px 10px 0 10px;
}
.textarea{
    text-align: right;
    box-shadow: 0 7px 14px 2px rgba(199,193,199,0.7);
    padding: 10px;
    margin-bottom: 40px;
}
.textarea input{
    padding: 5px;
    border-radius: 7px;
    border: 2px solid #4CAF50 ;
    text-align: right;
    width: 90%;
}
.textarea textarea{
    padding: 5px;
    border-radius: 7px;
    border: 2px solid #4CAF50 ;
    width: 100%;
    height: 100%;
}
.textarea p{
    padding: 5px;
    margin: 0;
    font-size: 13px;
}
.textarea button{
    margin: 10px 0;
    width: 90%;

}
.left-textarea form{
    text-align: right !important;
}
